<div class="contenu">
  <div class="presentation">
    <h1>À propos de Sol</h1>
    <p>
      Sol, une artiste polyvalente aux facettes multiples, incarne une dualité
      captivante dans son art. Derrière son personnage sombre émerge une
      sensibilité touchante et délicate. Avec 14 ans de danse classique à son
      actif, elle exprime avec grâce et pudeur ses émotions à travers des
      rubans, des cerceaux aériens et même, étonnamment, à travers le feu et les
      acrobaties. Cette diversité de personnages, du sombre à l'angélique, brise
      les codes et les clichés, conférant à Sol une puissance d'interprétation
      exceptionnelle en danse, acting et chant. Son art transcende les
      frontières, révélant une artiste incomparable et profondément expressive.
    </p>
  </div>
  <div class="caroussel">
    <div class="slider-efectCube">
      <swiper
        [effect]="'cube'"
        [grabCursor]="true"
        [cubeEffect]="{
          shadow: true,
          slideShadows: true,
          shadowOffset: 20,
          shadowScale: 0.94
        }"
        [pagination]="true"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide>
          <div class="sliderContent">
            <h3>DANSE CLASSIQUE</h3>
            <p class="text">
              Sol a consacré 14 ans à la danse classique, maîtrisant chaque
              mouvement avec grâce et élégance. Sa formation rigoureuse lui
              permet d'exprimer ses émotions avec une profondeur
              impressionnante, captivant ainsi son public à travers des
              performances envoûtantes. Elle a commencé la danse à un jeune âge,
              suivant des cours intensifs et se produisant dans des compétitions
              locales. Au fil des années, elle a perfectionné sa technique et
              développé un style unique qui combine la grâce du ballet classique
              avec des éléments contemporains.
            </p>
            <img
              class="photo"
              src="assets/about/classique.jpg"
              alt="Danse Classique"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="sliderContent carousel-item">
            <h3>PYROTECHNIE</h3>
            <p class="text">
              Experte en pyrotechnie, Sol jongle avec le feu avec une élégance
              audacieuse, explorant des variations chromatiques et des formes
              novatrices. Sa maîtrise du feu lui permet d\'ajouter une dimension
              spectaculaire à ses performances, repoussant constamment les
              limites du possible dans le monde enflammé de l\'art
              pyrotechnique. Son intérêt pour la pyrotechnie a été éveillé
              lorsqu\'elle a assisté à un spectacle de feux d\'artifice à un
              jeune âge. Depuis lors, elle s\'est entraînée intensivement,
              perfectionnant ses compétences et développant des techniques
              uniques pour manipuler le feu de manière artistique.
            </p>
            <img class="photo" src="assets/about/pyro.jpg" alt="Pyrotechnie" />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="sliderContent">
            <h3>ACTING</h3>
            <p class="text">
              Jeune comédienne d'une polyvalence exceptionnelle, Sol excelle
              dans l'incarnation de divers personnages, du drame à la comédie,
              avec une intensité et une profondeur impressionnantes. Son
              engagement envers chaque rôle qu'elle interprète témoigne de son
              talent exceptionnel et de sa capacité à captiver son public à
              travers une variété de genres cinématographiques. Elle a étudié
              l'art dramatique dans une école de théâtre réputée, où elle a été
              encadrée par des professionnels de l'industrie. Ses performances
              remarquables sur scène et à l'écran lui ont valu des éloges de la
              part de critiques et de ses pairs.
            </p>

            <img
              class="photo"
              src="assets/about/acting.jpg"
              alt="Danse Classique"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="sliderContent">
            <h3>RUBANS ET CERCEAUX</h3>
            <p class="text">
              Sol excelle dans la manipulation de rubans et de cerceaux,
              naviguant avec virtuosité entre ces éléments pour offrir des
              performances polyvalentes et captivantes. Son investissement
              actuel dans l'apprentissage du ruban aérien témoigne de son
              engagement indéfectible envers l'évolution et l'exploration
              artistiques. Elle a commencé à pratiquer la gymnastique rythmique
              à un jeune âge, où elle a développé sa coordination et sa grâce.
              Au fil du temps, elle a intégré ces compétences dans son art,
              créant des performances uniques qui allient la grâce de la danse
              et la dextérité de la gymnastique.
            </p>
            <img
              class="photo"
              src="assets/about/cerceau.JPEG"
              alt="Danse Classique"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="sliderContent">
            <h3>REALISATION</h3>
            <p class="text">
              Sol s'est récemment lancée dans la réalisation de clips et de
              bandes démo, ajoutant ainsi une dimension visuelle à son art. Son
              engagement dans ce domaine témoigne de son désir constant
              d'explorer de nouvelles avenues artistiques et d'élargir les
              frontières de son expression créative. Elle a suivi des cours de
              réalisation de films et a acquis une expérience pratique en
              travaillant sur divers projets. Elle est passionnée par le
              processus de création visuelle et trouve une grande satisfaction à
              donner vie à ses idées à travers le médium du film.
            </p>
            <img
              class="photo"
              src="assets/about/real.jpg"
              alt="Danse Classique"
            />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="sliderContent">
            <h3>ENGAGEMENT CARITATIF</h3>
            <p class="text">
              Sol consacre une partie de ses revenus à soutenir les orphelins du
              tiers monde, faisant ainsi de son art une contribution
              significative à une cause noble. Son engagement caritatif reflète
              son désir de faire une différence dans le monde à travers son art
              et sa générosité. Elle est profondément touchée par les injustices
              sociales et cherche à utiliser sa plateforme artistique pour
              sensibiliser et soutenir les personnes dans le besoin. Elle
              participe régulièrement à des événements de collecte de fonds et
              fait don de son temps et de ses ressources pour aider ceux qui en
              ont le plus besoin.
            </p>
            <img
              class="photo"
              src="assets/about/classique.jpg"
              alt="Danse Classique"
            />
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
