.accueil {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("img/accueil2.jpg");
  top: 0px;
  background-size: cover; /* L'image sera redimensionnée pour couvrir toute la zone */
  background-position: center center;
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  z-index: -10;
}

@media screen and (max-width: 768px) {
  .accueil {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("img/Desktop\ -\ 1.jpg");
    top: 0px;
    background-size: cover; /* L'image sera redimensionnée pour couvrir toute la zone */
    background-position: center center;
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    z-index: -10;
  }
}
